<!-- Movie Form -->
<h2>Search</h2>
<form name="movie_search" method="get" action="movies">
  <div>
    <input type="text" name="query" placeholder="<movie search>"  required focus />
  </div>
   <div>
   </br>
    <button type="submit">Get List</button>
  </div>
</form>
