<!-- Movie Layout -->
<!DOCTYPE html>
<html>
  <head lang="en">
  <meta char="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src="/movies.js"></script>
  <title>Movies</title>
</head>
  <div class="container" >
    <div class ="content">
  <body id="container">
    <header>
      <h1>Movie App</h1>
    </header>
    <section>
      <article>

        <%= yield %>

      </article>
    </section>
  </body>
  </div>
</div>
</html>