<form name="movie_create" method="get" action="/movies/create">
  <div>
    <input type="text" name="movie[title]" placeholder="<title>" />
  </div>
  <div>
    <input type="text" name="movie[year]" placeholder="<year>" />
  </div>
  <div>
    <input type="text" name="movie[director]" placeholder="<director>" />
  </div>
  <div>
    <input type="text" name="movie[rated]" placeholder="<rated>" />
  </div>
  <div>
    <input type="text" name="movie[poster]" placeholder="<poster>" />
  </div>
  <button type="submit">Create Movie</button>
</form>
